@import url('https://fonts.googleapis.com/css?family=Mina:400,700&subset=latin-ext');

body, html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 237, 0.5);
  /* background-color: rgba(255, 94, 94, 0.8); */
  font-family: Mina;
}

#header {
  width: 100%;
  min-height: 200px;
  position: relative;
  top: 0;
  /* left: 50%; */
  z-index: 3;
  /* margin: 0 -275px 0 -275px; */
  /* transform: translateX(-50%); */
  display: block;
  text-align: center;
}

#addItem {
  width: 300px;
  /* max-width: calc(100% - 100px); */
  min-height: 100px;
  margin: 30px 0 30px -175px;

  background: rgba(48, 48, 48, 1);
  border-radius: 30px;
  border: 5px solid black;
  padding: 20px;
  position: relative;
  display: inline-block;
  z-index: 3;
  text-align: left;
}



#addItem select {
  margin-top: 10px;
  display: block;
}

#addItem input {
  height: 40px;
  width: 65%;
  font-size: 20px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-indent: 16px;
  margin-bottom: 17px;
  color: white;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: Mina;
}

#addItem input[type=number]{
  margin: 0;
  margin-bottom: 17px;
  color: #f25959;
}

#addItem input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

#selectCategory, #selectCountry {
  width: 65%;
  padding: 5px;
  padding-left: 16px;
  border: 1px solid black;
  background-color: white;
}
#addItem button {
  width: 74px;
  height: 74px;
  position: absolute;
  border-radius: 37px;
  border: 3px solid white;
  box-shadow: none;
  top: 50%;
  right: 20%;
  margin: -37px;
  float: left;
  cursor: pointer;
}

#addItem button:active, #addItem button svg:active, ul li button svg:active,
 .modalContentDiv button:active, .showDetails:active, #filterButton:active {
  transform: scale(0.94, 0.94);
}

ul li button svg:active {
    fill: #e83535;
}

#addItem button svg {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px;
}

li button svg:hover{
  fill: #e83535;
}



#total {
  width: 170px;
  height: 140px;
  line-height: 140px;
  background: rgba(35, 35, 35, 1);
  font-size: 30px;
  text-transform: uppercase;
  margin: 30px 0 0 10px;
  border-radius: 5px;
  padding: 0 5px 0 5px;
  position: absolute;
  display: inline-block;
  color: white;
  z-index: 3;
  text-align: center;
  border-radius: 30px;
  border: 5px solid #f25959;
}

#filterButton {
  background-image: url('filter.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 90px;
  margin: 210px 0 0 27px;
  border-radius: 5px;
  position: absolute;
  z-index: 3;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}


.list {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 45px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: block;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
}

li {
  width: calc(100% - 120px);
  max-width: 500px;
  min-height: 80px;
  background: rgba(255, 255, 255, 0.6);
  /* background-color: rgba(237, 237, 237, 0.5); */
  border-radius: 30px;
  border: 3px solid black;
  padding: 15px 20px 20px 20px;
  position: relative;
  display: block;
  list-style: none;
  font-size: 32px;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
}



ul li .expenseName {
  position: relative;
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  /* padding-right: 40px; */
  font-weight: 500;
  overflow: hidden !important;
  white-space: nowrap;
  /* width: 400px; */
  width: 90%;
  text-overflow: ellipsis;
  display: inline-block;
}

.modalContentDiv ul {
  text-align: center;
  padding-top: 20px;

}

.modalContentDiv ul li .expenseName {
  position: absolute;
  color: black;
  text-transform: uppercase;
  left: 15px;
  padding: 0;
  margin: 0;
  padding-right: 40px;
  font-weight: 500;
  overflow: hidden !important;
  white-space: nowrap;
  width: 240px;
  text-overflow: ellipsis;
  text-align: left;
  top: 24%;
}

.modalContentDiv ul li {
  padding: 0;
  width: calc(100% - 25px);
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

.modalContentDiv ul li:first-child {
  margin-top: 20px;
}

.modalContentDiv ul li .expenseValue {
  right: 15px;

}

.foodSpan, .transportSpan, .drinksSpan, .gateSpan, .accommodationSpan,
.rentSpan, .partySpan, .groceriesSpan, .entertainmentSpan, .otherSpan{
  padding: 0;
  font-size: 26px;
  position: absolute;
  top: 65px;
  left: 20px;
  opacity: 0.8;
}

.foodSpan {
  color: rgb(74, 163, 68);
}
.transportSpan {
  color: rgb(60, 118, 168);
}
.drinksSpan {
  color: rgb(247, 123, 199);
}
.gateSpan{
  color: rgb(99, 65, 46);
}
.accommodationSpan {
  color: rgb(232, 232, 58);
}
.rentSpan {
  color: rgb(36, 201, 61);
}
.partySpan {
  color: rgb(35, 201, 192);
}
.entertainmentSpan {
  color: rgb(70, 35, 201);
}
.otherSpan {
  color: rgb(61, 58, 60);
}

#categoryDropdown, #countryDropdown {
  border: 2px solid black;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  width: 100px;
}


.expenseValue {
  color: #f25959;
  position: absolute;
  right: 65px;
  margin-top: 40px;
  font-size: 35px;
  padding: 0;
}

.modalContentDiv ul li .expenseValue {
  margin-top: 17px;
}

ul li button {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70%;
  left: 94%;
  margin: -15px;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}

ul li button svg {
  width: 30px;
  height:  30px;
  margin: 0 auto;
}

.showDetails {
  top: 35%;
  left: 95%;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

.showDetails:hover{
  font-weight: bold;
}

.modalDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  padding: 0;
  overflow: auto;
}

.modalContentDiv {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  width: calc(100% - 80px);
  min-width: 300px;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modalContentDiv #totalFiltredSum {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
}

.modalContentDiv .spanText {
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 0;
}

.modalContentDiv .spanDetail {
  display: block;
  font-size: 24px;
  font-weight: bold;

}

.modalContentDiv .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid black;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.modalContentDiv .applyFitler {
  width: 50px;
  height: 30px;
  background: white;
  border: 2px solid black;
  position: absolute;
  top: 30px;
  left: 220px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin-left: 30px;
}

.modalContentDiv button:hover {
  color: #e83535;
  border: 2px solid #e83535;
}

@media only screen and (max-width: 600px) {

  #header {
    width: 100%;
    left: 0;
    margin: 0;
    height: 260px;
  }

  #addItem {
    width: 300px;
    display: block;
    margin: 20px auto;
  }

  #total {
    height: 50px;
    line-height: 50px;
    width: 300px;
    display: block;
    margin: 0 auto;
    position: relative;
  }


  .list {
    padding: 0 15px 0 15px;
    margin-top: 125px;
  }


  li {
      width: calc(100% - 45px);
  }

  ul li:first-child {
    margin-top: 210px;
  }


  .modalContentDiv ul li:first-child {
    margin-top: 20px;
  }

  #filterButton {
    margin: 20px auto;
    background-size: 30px;
    width: 150px;
    height: 50px;
    display: block;

    position: relative;
  }

  .modalContentDiv ul li .expenseName {
    top:5px;
  }
  .modalContentDiv ul li .expenseValue {
    margin-top: 38px;
  }

}
