/* @import url('https://fonts.googleapis.com/css?family=Mina:400,700&subset=latin-ext'); */
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,700');

body, html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(94, 193, 229, 0.4);
  font-family: 'Maven Pro';
}

#header {
  width: 100%;
  min-height: 200px;
  position: relative;
  top: 0;
  z-index: 3;
  display: block;
  text-align: center;
  padding-bottom: 20px;
}

#addItem {
  width: 99%;
  max-width: 1200px;
  min-height: 100px;
  margin: 30px auto;
  margin-bottom: 10px;
  background-color: rgba(229, 94, 114,0.8);
  border-radius: 10px;
  padding: 40px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  z-index: 3;
  text-align: left;
  font-family: 'Maven Pro';
}

#addItem input {
  height: 40px;
  width: 100%;
  font-size: 25px;
  border: none;
  background-color: white;
  border-radius: 5px;
  text-indent: 16px;
  margin-bottom: 17px;
  color: rgba(51, 51, 51,1);
  padding-right: 10px;
  box-sizing: border-box;
}

#addItem #name {
  height: 50px;
}

#addItem #comment {
  background-color: rgba(255,255,255,0.8)  ;
  width: 70%;
  opacity: 0.8;
}

#addItem input[type=number]{
  margin: 0;
  width: 50%;
  position: relative;
  height: 80px;
  font-size: 20px;
  margin-bottom: 17px;
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

#addItem input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

#addItem input::-webkit-input-placeholder{
  opacity: 0.5;
}

#selectCategory, #selectCountry {
  width: 100%;
  padding: 5px;
  padding-left: 11px;
  margin-bottom: 15px;
  height: 40px;
  position: relative;
  font-weight: bold;
  border: none;
  display: inline;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-sizing: border-box;
}

#addItem button {
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  border: none;
  box-shadow: none;
  background-color: white;
  top: 70%;
  left: 80%;
  margin: -37px;
  float: left;
  cursor: pointer;
}

#addItem button:active, #addItem button svg:active, ul li button svg:active,
 .modalContentDiv button:active, .showDetails:active, #filterButton:active {
  transform: scale(0.94, 0.94);
}

ul li button svg:active {
    fill: #e83535;
}

#addItem button svg {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px;
}

li button svg:hover{
  fill: #e83535;
}

#total {
  width: 97%;
  max-width: 1200px;
  height: 100px;
  line-height: 100px;
  background: rgba(35, 35, 35, 0.1);
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 3px auto;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  top: 0;
  left: 0;
  position: relative;
  box-sizing: border-box;
  display: block;
  color: black;
  z-index: 3;
  text-align: center;
}

#filterButton {
  background-image: url('filter.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-left: 10px;
  width: 70px;
  height: 120px;
  margin: 0 auto;
  position: relative;
  background-color: transparent;
  display: block;
  z-index: 3;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}

.list {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  display: block;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
  display: block;
}

li {
  width: 90%;
  max-width: 1150px;
  min-height: 80px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border-bottom: 2px solid grey;
  padding: 15px 20px 20px 20px;
  position: relative;
  display: block;
  list-style: none;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: 600;
}



ul li .expenseName {
  position: relative;
  color: black;
  text-transform: uppercase;
  padding: 0;
  padding-bottom: 5px;
  margin: 0;
  color: #333333;
  font-weight: bold;
  overflow: hidden !important;
  white-space: nowrap;
  font-size: 25px;
  width: 90%;
  text-overflow: ellipsis;
  display: inline-block;
  border-bottom: 1.4px solid grey;
}

.modalContentDiv ul {
  text-align: center;
  padding-top: 20px;

}

.modalContentDiv ul li .expenseName {
  position: absolute;
  color: black;
  text-transform: uppercase;
  left: 15px;
  margin: 0;
  font-weight: 500;
  overflow: hidden !important;
  white-space: nowrap;
  width: 90%;
  text-overflow: ellipsis;
  text-align: left;
  top:8px;
}

.modalContentDiv ul li {
  padding: 0;
  width: calc(100% - 25px);
  padding-left: 20px;
  margin: 0 auto;
  margin-top: 20px;
  height: 100px;
  border: 2px solid #333;
}

.modalContentDiv ul li:first-child {
  margin-top: 20px;
}

.modalContentDiv ul li .expenseValue {
  right: 15px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;

}

.foodSpan, .transportSpan, .drinksSpan, .gateSpan, .accommodationSpan,
.rentSpan, .partySpan, .groceriesSpan, .entertainmentSpan, .otherSpan{
  padding: 0;
  font-size: 20px;
  position: absolute;
  overflow: hidden !important;
  white-space: nowrap;
  width: 30%;
  text-overflow: ellipsis;
  top: 65%;
  left: 20px;
  opacity: 0.8;
}

.foodSpan {
  color: rgb(74, 163, 68);
}
.transportSpan {
  color: rgb(60, 118, 168);
}
.drinksSpan {
  color: rgb(247, 123, 199);
}
.gateSpan{
  color: rgb(99, 65, 46);
}
.accommodationSpan {
  color: rgb(232, 232, 58);
}
.rentSpan {
  color: rgb(36, 201, 61);
}
.partySpan {
  color: rgb(35, 201, 192);
}
.entertainmentSpan {
  color: rgb(70, 35, 201);
}
.otherSpan {
  color: rgb(61, 58, 60);
}

#categoryDropdown, #countryDropdown {
  border: none;
  border-bottom: 2px solid #333;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
  margin-right: 5px;
  width: 100px;
}


.expenseValue {
  color: tomato;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 53%;
  font-size: 35px;
  padding: 0;
}


ul li button {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70%;
  right: 40px;
  margin: -15px;
  cursor: pointer;
  padding: 0;
  z-index: 5;
}

ul li button svg {
  width: 30px;
  height:  30px;
  margin: 0 auto;
}

.showDetails {
  top: 35%;
    right: 44px;
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

.showDetails:hover{
  font-weight: bold;
}

.modalDiv {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 6;
  padding: 0;
  overflow: auto;
}

.modalContentDiv {
  position: relative;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  width: calc(100% - 68px);
  min-width: 300px;
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.modalContentDiv #totalFiltredSum {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
  font-weight: bold;
}

.modalContentDiv .spanText {
  display: inline-block;
  font-size: 16px;
  margin: 15px 0 0 0;
}

.modalContentDiv .spanDetail {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.modalContentDiv .closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: white;
  border: 2px solid #333;
  border-radius: 50%;
  font-weight: bold;
  cursor: pointer;
}

.modalContentDiv .applyFitler {
  width: 50px;
  height: 30px;
  background: white;
  border: none;
  border-bottom: 2px solid #333;
  position: absolute;
  top: 29px;
  left: 220px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
  margin-left: 30px;
}

.modalContentDiv button:hover {
  color: #e83535;
  border: 2px solid #e83535;
}

@media only screen and (max-width: 600px) {


  li {
      width: 89%;
  }



}
