body, html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(49, 54, 61);
}

header {
  width: 1000px;
  max-width: calc(100% - 100px);
  height: 250px;
  margin: 30px 0;
  background: rgba(35, 35, 35, 1);
  border-radius: 30px;
  padding: 35px 20px 20px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

header input {
  height: 60px;
  width: 100%;
  font-size: 20px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-indent: 16px;
  margin-bottom: 13px;
  color: white;
  /* z-index: 3; */
  float: left;
  padding-right: 80px;
  box-sizing: border-box;
}

header button {
  width: 74px;
  height: 74px;
  position: absolute;
  border-radius: 37px;
  border: 0px;
  box-shadow: none;
  /* z-index: 2; */
  top: 200px;
  left: 50%;
  margin: 0 -37px 0 -37px;
  float: left;
  cursor: pointer;
}

header button:active, header button svg:active, ul li button svg:active {
  transform: scale(0.94, 0.94);
}

header button svg {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px -13px -13px -13px;
}

button{

}

.list {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 45px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
}

ul li {
  width: calc(100% - 46px);
  max-width: 1000px;
  height: 80px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  border: 3px solid black;
  padding: 20px;
  position: relative;
  list-style: none;
  /* box-sizing: border-box; */
  font-size: 32px;
  font-weight: 500;
  color: red;
  margin-bottom: 20px;
  text-align: right;
  z-index: 1;
}

ul li:first-child{
  margin-top: 350px;
}

span {
  position: absolute;
  left: 20px;
  color: black;
  text-transform: uppercase;
}

ul li button {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 70px;
  left: 50%;
  margin:  0 -15px 0 -15px;
  cursor: pointer;
  padding: 0;
}

ul li button svg {
  /* fill: none; */
  color: black;
  width: 30px;
  height:  30px;
  margin: 0 auto;
}
