@import url('https://fonts.googleapis.com/css?family=Mina:400,700&subset=latin-ext');

body, html {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgba(237, 237, 237, 0.5);
  font-family: Mina;
}

#header {
  width: 600px;
  height: 200px;
  position: fixed;
  left: 50%;
  z-index: 3;
  margin: 0 -300px 0 -300px;
}

#addItem {
  width: 300px;
  /* max-width: calc(100% - 100px); */
  height: 100px;
  margin-top: 30px;
  background: rgba(48, 48, 48, 1);
  border-radius: 30px;
  border: 5px solid black;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 20px;
  z-index: 3;

}

#addItem input {
  height: 40px;
  width: 65%;
  font-size: 20px;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  text-indent: 16px;
  margin-bottom: 17px;
  color: white;
  padding-right: 10px;
  box-sizing: border-box;
  font-family: Mina;
}

#addItem input[type=number]{
  margin: 0;
}

#addItem input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
}

#addItem button {
  width: 74px;
  height: 74px;
  position: absolute;
  border-radius: 37px;
  border: 3px solid white;
  box-shadow: none;
  top: 50%;
  right: 20%;
  margin: -37px;
  float: left;
  cursor: pointer;
}

#addItem button:active, #addItem button svg:active, ul li button svg:active {
  transform: scale(0.94, 0.94);
}

ul li button svg:active {
    fill: #e83535;
}

#addItem button svg {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -13px;
}

li button svg:hover{
  fill: #e83535;
}

#total {
  width: 170px;
  height: 140px;
  line-height: 140px;
  background: rgba(35, 35, 35, 1);
  font-size: 30px;
  text-transform: uppercase;
  border-radius: 5px;
  margin-top: 30px;
  padding: 0 5px 0 5px;
  position: absolute;
  top: 0;
  color: white;
  right: 20px ;
  z-index: 3;
  text-align: center;
  border-radius: 30px;

  border: 5px solid #f25959;
}

.list {
  width: 100%;
  height: 100%;
  padding: 0 45px 0 45px;
  box-sizing: border-box;
  text-align: left;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

ul {
  position: relative;
  padding: 0;
  margin: 0;
}

ul li {
  width: calc(100% - 120px);
  max-width: 500px;
  height: 40px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  border: 3px solid black;
  padding: 15px 20px 20px 20px;
  position: relative;
  list-style: none;
  font-size: 32px;
  color: #f25959;
  text-align: right;
  z-index: 1;
  margin: 0 auto;
  margin-bottom: 20px;
  font-weight: bold;
}

ul li:first-child{
  margin-top: 190px;
}

span {
  position: absolute;
  left: 20px;
  color: black;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 500;
}

ul li button {
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  border: none;
  text-decoration: none;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -15px;
  cursor: pointer;
  padding: 0;
}

ul li button svg {
  width: 30px;
  height:  30px;
  margin: 0 auto;
}

/* 
@media only screen and (max-width: 800px) {
  #header {
    width: 100%;
  }
} */
